<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261371754382-0tevsfcgd3ipgkaqqs9p4po1cjiopsdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261371754382-0tevsfcgd3ipgkaqqs9p4po1cjiopsdg</string>
	<key>API_KEY</key>
	<string>AIzaSyCLWvaAcHcp0eehVPrK34-hl4OzrPyN2b8</string>
	<key>GCM_SENDER_ID</key>
	<string>261371754382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rideshareapp</string>
	<key>PROJECT_ID</key>
	<string>ride-share-app-fa1ab</string>
	<key>STORAGE_BUCKET</key>
	<string>ride-share-app-fa1ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261371754382:ios:c30f4bd60ee3a2ca5d96df</string>
</dict>
</plist>